{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<p></p>
<form action="/rooms/{{ session.room_id }}/message/{{ message[3] }}_edit/" method="post">
    <input class="form-control mr-sm-2" type="text" name="content" rows="5" cols="50" minlength="1" maxlength="5000" placeholder="{{ message[2] }}" required="True">
    <input class="form-control mr-sm-2" type="submit" value="Edit"></input>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p></p>
{% endif %}
{% endblock %}