{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
Update room name or remove participants.
<p>
<form action="/edit" method="post">
    <input class="form-control mr-sm-2" type="text" name="room_name" value="{{ room[0] }}" minlength="1" maxlength="5000" required="True">
    <input class="form-control mr-sm-2" type="submit" value="update">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
Remove members
<ul>
    {% for member in members %}
        <li><form class="form-inline" action="/remove" method="post"><input name="user_name" value="{{ member[0] }}" type="submit" value="Remove"></form></li>
    {% endfor %}
</ul>
<p></p>
change privacy:
<form class="form-inline" action="/set_privacy" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    {% if private == True %}
        <input type="submit" value="set public">
    {% else %}
        <input type="submit" value="set private">
    {% endif %}
{% endif %}
{% endblock %}