{% extends "layout.html" %}
{% block content %}
<form action="/login" method="post">
    <div class="md-form my-0">
    Username: <input class="form-control mr-sm-2" type="text" name="username" minlength="3" maxlength="20" required="True">
    <p>
    Password: <input class="form-control mr-sm-2" type="password" name="password" minlength="3" maxlength="50" required="True">
    <p>
    <input class="form-control mr-sm-2" type="submit" value="Login">
    </div>
    </form>
    You can create new account <a href="/register">here</a>
{% endblock %}