{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<h2>{{ room[0] }}</h2> 
<a href="/rooms/{{ session.room_id }}/edit">Edit</a>
<p>
{% for message in messages %}
    <div>{{ message[0] }}&nbsp;{{ message[1].strftime("%m-%d %H:%M") }}:&nbsp; {{ message[2] }} <a href="/rooms/{{ session.room_id }}/message/{{ message[3] }}">+</a></div>
{% endfor %}

<form action="/send" method="post">
    <div class="chat-bar" style="bottom: 0; position: fixed; width: 60%;">
    <input class="form-control mr-sm-2" type="text" name="content" minlength="1" maxlength="5000" required="True"></textarea>
    <input class="form-control mr-sm-2" type="submit" value="Send"></input>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </div>
</form>
<p></p>
{% endif %}
{% endblock %}